allow mm-qcamerad input_device:chr_file { read ioctl open };
allow mm-qcamerad input_device:dir { read search };
allow mm-qcamerad persist_file:file { read open };
allow mm-qcamerad persist_file:dir { search };
allow mm-qcamerad cam_proc:file { open read write };
allow mm-qcamerad cam_sysfs:file { open read write };
allow mm-qcamerad log_device:chr_file rw_file_perms;
allow mm-qcamerad log_device:dir search;
allow mm-qcamerad system_data_file:dir { write remove_name add_name };
allow mm-qcamerad system_data_file:sock_file unlink;
